.for--section {
  margin: 150px 0 90px 0;
}

.forsale--section h2 {
  margin-bottom: 30px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-heading h2 {
  font-size: 20px;
}

.hide-on-laptop {
  display: none;
}

@media screen and (max-width: 680px) {
  .for--section {
    margin: 100px 0 60px 0;
  }

  .hide-on-laptop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .hide-on-mobile {
    display: none;
  }

  .section-heading h2 {
    font-size: 18px;
  }
}
