.section_4 {
  margin-top: 6rem;
  overflow: hidden;
}
.section_4_title {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 10vw;
  padding-top: 6rem;
}
.section_4_title h1 {
  color: rgb(7, 37, 35);
  font-size: 2.5rem;
  width: 60%;
}

.section_4_title h1:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  background: rgb(238, 238, 238);
  width: 100vw;
  height: 400px;
}

.section_4_content {
  display: grid;
  grid-template-columns: 50% 20% 15% 15%;
  padding-left: 10vw;
  position: relative;
}
.section_4_content .image_container {
  grid-row: 1/2;
  grid-column: 1/3;
}
.section_4_content .image_container img {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.info {
  grid-row: 1/2;
  grid-column: 2/4;
  padding: 2rem 3rem;
  margin: 3rem 0;
  background: white;
  z-index: 1000;
}

.info p {
  color: var(--gray);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.rows {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.row_1,
.row_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row_1 {
  margin-bottom: 1rem;
}

.fact h2 {
  color: var(--dark-green);
  font-size: 1.3rem;
}
.fact h3 {
  color: var(--dark-green);
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .section_4_title h1 {
    width: 80%;
  }
  .section_4_content .image_container img {
    width: 600px;
  }
}

@media screen and (max-width: 1066px) {
  .info {
    grid-column: 2/5;
  }
}

@media screen and (max-width: 1000px) {
  .section_4_title h1 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 890px) {
  .section_4_content .image_container img {
    width: 500px;
  }

  .info {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .section_4_title h1 {
    font-size: 1.7rem;
    width: 100%;
  }
}

@media screen and (max-width: 665px) {
  .section_4_content {
    padding-left: 2rem;
  }

  .info {
    grid-column: 1/5;
    margin-left: 30vw;
  }
}

@media screen and (max-width: 570px) {
  /* .info {
    grid-column: 1/3;
    margin-left: 3rem;
    width: 300px;
  } */

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    padding-top: 2rem;
    margin: 0;
    grid-column: unset;
    width: 80vw;
  }

  .rows {
    justify-content: unset;
  }
}

@media screen and (max-width: 425px) {
  .section_4_content {
    padding-left: 0;
  }
  .section_4_title {
    padding-top: 3rem;
  }
  .section_4_content .image_container img {
    height: 580px;
  }

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    padding-top: 2rem;
    margin: 0;
    grid-column: unset;
    width: 80vw;
  }

  .info p {
    margin-bottom: 2rem;
  }

  .rows {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
