@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.banner__container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 30px;
  /* background-color: #040c18; */
  background-color: var(--background);
}

.banner__content {
  width: 70%;
  padding-left: 70px;
  padding-right: 30px;
}

.banner__stats {
  display: flex;
  margin-top: 25px;
}

.premium__product {
  margin-right: 30px;
}

.banner__slider {
  width: 50%;
}

.welcome__text h1 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: #222;
}

.gradient__text {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome__text p {
  font-size: 15px;
  margin-bottom: 0.5rem;
  padding-right: 20px;
  width: 90%;
  /* color: #81afdd; */
  color: #777;
  line-height: 28px;
  margin-top: 1.5rem;
}

.banner__stats p {
  color: #81afdd;
}

@media screen and (max-width: 680px) {
  .banner__container {
    flex-direction: column-reverse;
    width: 100vw;
    height: 100%;
    padding: 150px 0 50px 20px;
  }

  .banner__content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .banner__stats {
    display: flex;
    margin-top: 25px;
  }

  .banner__slider {
    width: 90%;
    margin-bottom: 30px;
  }

  .welcome__text h1 {
    font-size: 25px;
  }

  .welcome__text p {
    font-size: 14px;
    width: 100%;
  }

  .premium__product h2 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .banner__container {
    width: 100%;
    height: 100%;
    padding: 250px 30px 50px 20px;
  }

  .banner__content {
    width: 70%;
    padding-left: 10px;
    padding-right: 5px;
  }

  .banner__slider {
    width: 50%;
  }

  .welcome__text h1 {
    font-size: 28px;
  }

  .welcome__text p {
    font-size: 14px;
    padding-right: 20px;
    width: 90%;
  }
}
